<h1>Welcome to our Scrabble Game</h1>
<form action="/word_score">
  <div class="form-group">
    <label for="word_score">Enter a word and get the score</label>
    <input id="word_score" name="word_score" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
